.panel {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: white;
}

.panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel--collapsible {
    cursor: pointer;
}

.panel--not-collapsible {
    cursor: default;
}